.button-active:visited {
    color: #5FB4A2;
}

.manage-box {
    display: flex;
    justify-content: space-between;
    margin-top: 94px;
    width: 1110px;
}

.manage-box img, .bookmark-box img, .insure-box img, .fylo-box img {
    width: 540px;
    height: 500px;
}

.manage-text, .bookmark-text, .insure-text, .fylo-text {
    display: flex;
    flex-direction: column;
    width: 350px;   
}

.manage-text hr, .bookmark-text hr, .insure-text hr, .fylo-text hr {
    background: #33323D;
    mix-blend-mode: normal;
    opacity: 0.15;
}

.manage-text h1, .bookmark-text h1, .insure-text h1, .fylo-text h1 {
    margin-top: 103px;
    font-family: 'Ibarra Real Nova';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 42px;
    letter-spacing: -0.357143px;
    color: #33323D;
}

.manage-text p, .bookmark-text p, .insure-text p, .fylo-text p {
    margin-top: 28px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #33323D;
    mix-blend-mode: normal;
    opacity: 0.8;
}

.manage-text a, .bookmark-text a, .insure-text a, .fylo-text a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 175px;
    height: 48px;
    margin-top: 71px;
    margin-bottom: 103px;
    border: 1px solid #33323D;
    text-decoration: none;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2px;
    color: #33323D;
}

.bookmark-box, .insure-box, .fylo-box {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    width: 1110px;
}

